body {
  background: #efefbb;
  background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
  color: white;
  margin: 0;
  font-family: rubik;
}

[data-js="pagination"] {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  list-style: none;
}

[data-js="pagination"] button {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  padding: 8px 12px;
  cursor: pointer;
}

[data-js="pagination"] button.active {
  background-color: #45a049;
}


.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 54px;
}

.rickdex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}

.card {
  list-style: none;
  padding: 40px;
  color: #222;
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.card::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(125, 231, 111, 0.705);
  opacity: 0.7;
  position: absolute;
  top: 0%;
  left: 0%;
}

.card:hover {
  animation: bounce 0.5s linear;
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.card-subtitle {
  margin-top: 5px;
  color: #666;
  font-weight: lighter;
  position: relative;
  z-index: 2;
}

.card-subtitle.alive {
  color: rgb(0, 194, 0);
}

.card-subtitle.dead {
  color: red;
}

.card-subtitle.unknown {
  color: black;
}

.card-image {
  height: 180px;
  position: relative;
  border-radius: 50%;
  z-index: 2;
}

footer {
  text-align: center;
}

footer > p {
  color: black;
}

footer > p > a {
  text-decoration: none;
}


@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
